<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home/style.css" />
    <link rel="stylesheet" href="/css/home/input.css" />
    <script
      src="https://kit.fontawesome.com/73fbcb87e6.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/home/input.js" defer></script>
    <!-- <script src="/js/home/table.js" defer></script> -->
    <title>Document</title>
  </head>

  <body>
    <input id="year" type="hidden" value="<%= data.year %>" />
    <input id="month" type="hidden" value="<%= data.month %>" />
    <input id="days" type="hidden" value="<%= data.days %>" />
    <section class="main">
      <div class="dondok">
        <div class="select-box">
          <span class="id-name"> <%= user %> </span>
          <!--<i class="fas fa-angle-down fa-2x"></i>-->
          <div class="arrow-down" onclick="arrowClick()"></div>
        </div>
        <div id="logout"><span>logout</span></div>
      </div>

      <div class="calendar input-screen">
        <div class="input-main">
          <div class="input-date">
            <span
              ><%= data.year %>년 <%= data.month %>월 <%= data.days %>일
              매출전표</span
            >
          </div>

          <div class="input-section">
            <div class="input-box">
              <span>일일 매출액 :</span>
              <input
                id="sales"
                type="text"
                class="input"
                value="<%=data.sales %>"
                placeholder="<%=data.sales %>"
              />
            </div>
          </div>
        </div>

        <div class="input-button">
          <button id="cancel">취소</button>
          <button id="update">수정</button>
          <button id="insert">등록</button>
        </div>
      </div>
    </section>
  </body>
</html>
