<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home/style.css" />
    <link rel="stylesheet" href="/css/home/input.css" />
    <script
      src="https://kit.fontawesome.com/73fbcb87e6.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/home/monthInput.js" defer></script>
    <title>Document</title>
  </head>

  <body>
    <input id="year" type="hidden" value="<%= data.year %>" />
    <input id="month" type="hidden" value="<%= data.month %>" />
    <section class="main">
      <div class="dondok">
        <div class="select-box">
          <span class="id-name"> <%= user %></span>
          <!--<i class="fas fa-angle-down fa-2x"></i>-->
          <div class="arrow-down" onclick="arrowClick()"></div>
        </div>
        <div id="logout">
          <a href="/logout"><span>logout</span></a>
        </div>
      </div>

      <div class="calendar input-screen">
        <div class="input-main">
          <div class="input-date">
            <span><%= data.year %>년 <%= data.month %>월 매출전표</span>
          </div>

          <div class="input-section">
            <div class="sales">
              <div class="input-box">
                <span>일일 매출액 :</span>
                <input
                  id="sales"
                  type="text"
                  class="input"
                  value="0"
                  placeholder="0"
                />
              </div>
            </div>

            <div class="expenditure">
              <span>월 지출</span>
              <div class="expenditure_input-section">
                <div class="input-box">
                  <span>임대료 :</span>
                  <input
                    id="rent"
                    type="text"
                    class="input"
                    value="<%= data.rent %>"
                    placeholder="<%= data.rent %>"
                  />
                </div>
                <div class="input-box">
                  <span>관리비 :</span>
                  <input
                    id="admincost"
                    type="text"
                    class="input"
                    value="<%= data.admincost %>"
                    placeholder="<%= data.admincost %>"
                  />
                </div>
                <div class="input-box">
                  <span>보험금 :</span>
                  <input
                    id="insurance"
                    type="text"
                    class="input"
                    value="<%= data.insurance %>"
                    placeholder="<%= data.insurance %>"
                  />
                </div>
                <div class="input-box">
                  <span>4대 보험 :</span>
                  <input
                    id="insurance4"
                    type="text"
                    class="input"
                    value="<%= data.insurance4 %>"
                    placeholder="<%= data.insurance4 %>"
                  />
                </div>
                <div class="input-box">
                  <span>인건비 :</span>
                  <input
                    id="expense"
                    type="text"
                    class="input"
                    value="<%= data.expense %>"
                    placeholder="<%= data.expense %>"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="input-button">
          <button id="cancel">취소</button>
          <button id="update">수정</button>
          <button id="insert">등록</button>
        </div>
      </div>
    </section>
  </body>
</html>
